<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="{% static 'seguimiento/style.css' %}">
    <title>Editando SubTarea</title>
</head>
<body>
    <h1>Editando SubTareas al Proyecto: {{ sub_tarea.id_proyecto.nombre_proyecto }}</h1>
    <h2>Pertenece a la Tarea: {{ sub_tarea.id_tarea.detalle_tarea }}</h2>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="">Nombre SubTarea:</label>
            {{ formulario_subtarea.detalle_subtarea }}
        </div>
        <div>
            <label for="">Inicio:</label>
            {{ formulario_subtarea.inicio_actividad }}
        </div>        
        <div>
            <label for="">Fin:</label>
            {{ formulario_subtarea.fin_actividad }}
        </div>     
        <div>
            <label for="">Responsable:</label>
            {{ formulario_subtarea.responsable_asignado }}
        </div>       
        <div>
            <label for="">ESTADO TAREAS:</label>
            {{ formulario_subtarea.estado_tareas }}
        </div>        
        <button type="submit">Modificar</button>
        <a href="{% url 'ver_tareas' pk=sub_tarea.id_proyecto.id  %}">Ir a Tareas</a>
    </form>
</body>
</html>