<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="{% static 'seguimiento/style.css' %}">
    <title>Agregando Gestion</title>
</head>
<body>
    <h1>Agregando Tareas al Proyecto: {{ proyecto.nombre_proyecto }}</h1>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="">Nombre Tarea:</label>
            {{ formulario_tarea.detalle_tarea }}
        </div>        
        <button type="submit">Agregar</button>
        <a href="{% url 'ver_tareas' pk=proyecto.id  %}">Ir a Tareas</a>
    </form>
</body>
</html>