<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="{% static 'seguimiento/style.css' %}">
    <title>Actividades</title>
</head>
<body>
    <h1>Sistema Gestion Actividades:</h1>
    {% if proyectos %}    
    <form method="POST">
        {% csrf_token %}
        <div>
            <select name="proyecto_seleccionado">
                {% for proyecto in proyectos %}
                <option value="{{ proyecto.id }}">{{ proyecto.nombre_proyecto }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <button type="submit">Ver Tareas</button>
        </div>
    </form> 
    {% else %}
    <p>
        <svg
        xmlns="http://www.w3.org/2000/svg"
        width="52"
        height="52"
        viewBox="0 0 24 24"
        fill="#FFCC00
        "
        >
        <path d="M12 2c5.523 0 10 4.477 10 10a10 10 0 0 1 -19.995 .324l-.005 -.324l.004 -.28c.148 -5.393 4.566 -9.72 9.996 -9.72zm.01 13l-.127 .007a1 1 0 0 0 0 1.986l.117 .007l.127 -.007a1 1 0 0 0 0 -1.986l-.117 -.007zm-.01 -8a1 1 0 0 0 -.993 .883l-.007 .117v4l.007 .117a1 1 0 0 0 1.986 0l.007 -.117v-4l-.007 -.117a1 1 0 0 0 -.993 -.883z" />
        </svg>
        Atencion, No Creaste Ningun Proyecto.
    </p>                           
    {% endif%}
    <a href="{% url 'agregar_proyecto' %}">Crear Un Proyecto</a>    
</body>
</html>