<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="{% static 'seguimiento/style.css' %}">
    <title>Listado de Tareas</title>
</head>
<body>
    <h1> Proyecto: {{ proyecto.nombre_proyecto }}</h1>
    <h2>Listado de Tareas</h2>
    <table>
        {% comment %} <thead>
            <tr>
                <th>N°</th>
                <th>Actividad Detallada Definicion de Datos y Procesos</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Responsable</th>
            </tr>
        </thead> {% endcomment %}
        <div>
            <a href="{% url 'agregar_tarea' pk=proyecto.id %}">Agregar Nueva Tarea</a>
            <a href="{% url 'agregar_subtarea_seleccionada' pk=proyecto.id %}">Agregar SubTareas</a>                    
        </div>
        <tbody>
            {% for tarea in tareas %}
                <tr>
                    <td style="font-weight: bold; text-transform: uppercase;">{{ tarea.detalle_tarea }}</td>
                </tr>                         
                {% for subtarea in subtareas %}
                    {% if subtarea.id_tarea.id == tarea.id %}
                        <tr>
                            <td style="text-transform: capfirst;">-{{ subtarea.detalle_subtarea }}</td>
                            <td>[{{ subtarea.inicio_actividad|date:'d-m-Y' }}]-</td>
                            <td>[{{ subtarea.fin_actividad|date:'d-m-Y' }}]</td>
                            <td>{{ subtarea.responsable_asignados }}</td>
                            <td>
                                <a href="{% url 'agregar_gestion' pk=subtarea.id %}">Agregar Gestion</a>
                                <a href="{% url 'listar_gestion' pk=subtarea.id %}">Ver Todas las Gestiones</a>
                                <a href="{% url 'editar_subtarea' pk=subtarea.id %}">Editar Tarea</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}                                   
            {% empty %}
            <tr>
                <p>
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="52"
                    height="52"
                    viewBox="0 0 24 24"
                    fill="#FFCC00
                    "
                    >
                    <path d="M12 2c5.523 0 10 4.477 10 10a10 10 0 0 1 -19.995 .324l-.005 -.324l.004 -.28c.148 -5.393 4.566 -9.72 9.996 -9.72zm.01 13l-.127 .007a1 1 0 0 0 0 1.986l.117 .007l.127 -.007a1 1 0 0 0 0 -1.986l-.117 -.007zm-.01 -8a1 1 0 0 0 -.993 .883l-.007 .117v4l.007 .117a1 1 0 0 0 1.986 0l.007 -.117v-4l-.007 -.117a1 1 0 0 0 -.993 -.883z" />
                    </svg>
                    Atencion, No Creaste Ninguna Tarea para este Proyecto.
                </p>                           
                <a href="{% url 'main_seguimiento_actividades' %}">Volver a los Proyectos</a>
            </tr>                    
            </tbody>        
            {% endfor %}
        </table>                                                       
</body>
</html>