{% extends "../layout_logistica.html" %}
{% block titulo %}Colaboradores{% endblock  %}
{% block contenido %}
<main>
    <div class="menu_opciones">        
        <h1 class="no-margin">Colaboradores:</h1>                      
        <input type="text" placeholder="Buscar x Nombre" id="colaborador_pista" name="colaborador">
        <button hx-get="{% url 'filtrar_colaboradores' %}" hx-target='#resultados_colaborador' hx-include='#colaborador_pista'                
        class="boton_formulario"  >
            Buscar
        </button>        
    </div>
    <div class="mostrar_informacion_movimientos">
        <table class="tabla_informacion">
            <thead>
                <tr>                    
                    <th class="columna1_fija_colaborador">Nombre Colaborador</th>
                    <th class="columna2_fija_colaborador">Articulos Asignados</th>                      
                </tr>
            </thead>            
        </table>
        <div class="tabla_grande_container" id="resultados_colaborador"> 
            <table class="tabla_informacion">                
                <tbody>
                    {% for colaborador in colaboradores %}
                    <tr>
                        <td class="columna1_fija_colaborador">
                            <a href="{% url 'movimientos_por_colaborador' pk=colaborador.codigo_colaborador %}">{{ colaborador.nombre_colaborador }}</a>
                        </td>
                        <td class="columna2_fija_colaborador">
                            {% for item in items_colaborador %}
                            {% if item.id_usuario.codigo_colaborador == colaborador.codigo_colaborador %}
                            <a  href="{% url 'movimientos_por_item' pk=item.id_item %}">{{ item.nombre_item }}</a>      
                            {% endif %}
                            {% endfor %}                  
                        </td>                    
                    </tr>                
                    {% endfor %}                
                </tbody>            
            </table>
        </div>
    </div>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</main>
{% endblock  %}