{% extends "../layout_logistica.html" %}
{% block titulo %}Creando Articulo{% endblock %}
{% block contenido %}
<main>
    <div class="formularios" >
        <h1 class="no-margin">Creando Proveedor:</h1>
        <div>
            <p class="mensaje_error">{{ form.documento.errors }}</p>            
            <p class="mensaje_error">{{ form.nombre.errors }}</p>            
        </div>        
        <form method="POST">
            {% csrf_token %}
            <div class="campos_textosimple">
                <label for="">N° Documento:</label>
                {{ form.documento }}
            </div>           
            <div class="campos_textosimple">
                <label for="">Nombre:</label>
                {{ form.nombre }}
            </div>                   
            <div class="botones_formularios">
                <a class="boton_enlace a1" href="{% url 'agregar_movimientos' %}">← Volver a Movimientos</a>
                <button class="boton_formulario" type="submit">Crear Proveedor</button>
            </div>
        </form>
    </div>    
</main>
{% endblock  %}