<h2 class="no-margin" >Opciones Añadir Stock</h2>
<div class="movimientos_fila1_serial">
    <div class="serial_sub_opciones">
        <label for="">ID:</label>    
        <input type="text" name="articulo" value="{{ articulo.id_item }}">
    </div>    
    <div class="serial_sub_opciones">
        <label for="">Nombre:</label>
        <input type="text" value="{{ articulo.nombre_item }}">
    </div>    
    <div class="serial_sub_opciones">
        <label for="">Stock:</label>
        <input type="text" value="{{ articulo.cantidad_items }}" >
    </div>
    <div class="serial_sub_opciones">
        <label for="">Cantidad:</label>
        <input type="number" name="cantidad" value="1" min="1" >
    </div>        
</div>
<div class="movimientos_fila2">        
    <input type="text" value="{{ origen }}" name="origen">
    <select name="destino" id="destino" >
        <option  value="" disabled selected>--Escoja un Destino--</option>
        {% for destino in destinos %}
            <option value="{{ destino }}">{{ destino }}</option>
        {% endfor %}    
    </select>
</div>
<div class="movimientos_fila4">                        
    <input name="observaciones" id="observaciones" type="text" placeholder="Añadir Observaciones">
</div>    
<div class="movimientos_fila3">
    <select name="mov_ref" id="mov_ref">
    <option  value="" disabled selected>--Escoja un MovimientoReferencia--</option>
        {% for mov_ref in mov_refs %}
            <option value="{{ mov_ref.id_movimiento }}">ID:{{ mov_ref.id_movimiento }}-{{ mov_ref.id_item.nombre_item }}-StockMovimiento:{{ mov_ref.cantidad_movimiento }}</option>
        {% endfor %}    
    </select>
    <button class="boton" type="button" 
        hx-post="{% url 'agregar_fila_item' %}" 
        hx-target="#cuerpoTabla" 
        hx-swap="beforeend"
        hx-include="#selector_articulos, #id_tipo_movimiento">
    + Añadir
    </button>
</div>



