<div class="formularios_pequeño" >
    <h1 class="no-margin">Seleccione el Proveedor</h1>        
    <form method="POST">
        {% csrf_token %}            
        <div class="campos_textosimple">
            <input type="text" name="ruc" id="buscador" placeholder='RUC'>
            <button hx-get="{% url 'buscar_proveedor_movimiento' %}" hx-target='#resultados_busquedas' hx-include='#buscador'                
            class="boton_formulario"  >
                Buscar
            </button>
        </div>
        <div class="tabla_grande_buscador_mov">
            <table class="tabla_informacion"> 
                <tbody id="resultados_busquedas">
                </tbody>
            </table>
        </div>
        <div class="botones_formularios">
            <a class="boton_enlace a1" href="{% url 'agregar_proveedor_stock' %}" target="_blank"" >Agregar Proveedor</a>                        
        </div>
    </form>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</div>    
