{% extends "../layout_logistica.html" %}
{% block titulo %}Tipo de Arituclo{% endblock %}
{% block contenido %}
<main>
    <div class="formularios" >
        <h1 class="no-margin">Seleccione el Tipo de Arituclo</h1>        
        <form method="GET">
            {% csrf_token %}            
            <div class="campos_textoopciones">
                <label for="">Tipo Articulo:</label>
                {{ form.tipo_item }}
            </div>            
            <div class="botones_formularios">
                <a class="boton_enlace a1" href="{% url 'logistica_items' %}">← Volver a Articulos</a>
                <button class="boton_formulario" type="submit">Seleecionar</button>
            </div>
        </form>
    </div>    
</main>
{% endblock  %}