{% extends "../layout_logistica.html" %}
{% block titulo %}Informacion Articulo{% endblock %}
{% block contenido %}
<main>
    <div class="formularios" >
        <h1 class="no-margin">Informacion de Articulo ID: #{{ item.id_item }}</h1>             
        <div>
            <div class="campos_textosimple">
                <label for="">Nombre: <span class="texto_normal">{{ item.nombre_item }}</span></label>                              
            </div>
            <div class="campos_textosimple">
                <label for="">Estado: <span class="texto_normal">{{ item.id_estado }}</span></label>                
            </div>
            <div class="campos_textosimple">
                <label for="">Comprobante Conta: <span class="texto_normal">{{ item.comprobante_contable }}</span></label>                
            </div>
            <div class="campos_textosimple">
                <label for="">Fecha Conta: <span class="texto_normal">{{ item.fecha_contable }}</span></label>                
            </div>
            <div class="campos_textosimple">
                <label for="">Factura/Boleta: <span class="texto_normal">{{ item.factura_boleta }}</span></label>                
            </div>
            <div class="campos_textosimple">
                <label for="">Marca: <span class="texto_normal">{{ item.marca_item }}</span></label>                
            </div>
            <div class="campos_textosimple">
                <label for="">Modelo: <span class="texto_normal">{{ item.modelo_item }}</span></label>                
            </div>
            <div class="campos_textosimple">
                <label for="">N° Serie: <span class="texto_normal">{{ item.serie_item }}</span></label>                
            </div>
            <div class="campos_textosimple">
                <label for="">Stock: <span class="texto_normal">{{ item.cantidad_items }}</span></label>                
            </div>                                    
            <div class="campos_textosimple">
                <label for="">Moneda: <span class="texto_normal">{{ item.tipo_moneda }}</span></label>                
            </div>
            <div class="campos_textosimple">
                <label for="">Precio Unitario: <span class="texto_normal">{{ item.precio_unitario }}</span></label>                
            </div>
            <div class="campos_textosimple">
                <label for="">Proveedor: <span class="texto_normal">{{ item.proveedor }}</span></label>                                
            </div>
            <div class="campos_textosimple">
                <label for="">Almacen: <span class="texto_normal">{{ item.id_almacen|default:"No asignado" }}</span></label>                
            </div>
            <div class="campos_textosimple">
                <label for="">Colaborador: <span class="texto_normal">{{ item.id_usuario|default:"No asignado" }}</span></label>                
            </div>
            <div class="campos_textosimple">
                <label for="">Area: <span class="texto_normal">{{ item.id_area|default:"No asignado" }}</span></label>                
            </div>
            <div class="campos_textoopciones">
                <label for="">Historial de Inventarios:</label>
                <div class="tabla_mini_container">                    
                    <table class="tabla_mini">                        
                        <tbody>
                            {% for inven in inventario %}
                            <tr>
                                <td> {{ inven.fecha_modificacion|date:"d/m/Y" }} </td>
                                <td>--</td>
                                <td> Inventariado </td>
                            </tr>                            
                            {% endfor %}
                        </tbody>                        
                    </table>                
                </div>                
            </div>                                                                        
            <div class="botones_formularios">                                
                <a class="boton_enlace a1" href="{% url 'logistica_items' %}">← Ir a Articulos</a>
                <a class="boton_enlace a1" href="{% url 'editar_item_serializable' pk=item.id_item %}" >Editar Articulo</a>                
            </div>        
        </div>                    
    </div>    
</main>
{% endblock  %}